version: "3.8"

services:
  # MinIO как локальный аналог Yandex Object Storage
  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000" # S3 API
      - "9001:9001" # Web Console
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin123
    volumes:
      - minio_data:/data

  # PostgreSQL альтернативный бэкенд
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: terraform_backend
      POSTGRES_USER: terraform
      POSTGRES_PASSWORD: terraform123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    ports:
      - 8080:8080

volumes:
  minio_data:
  postgres_data:
